@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background-color: $color-body;
}
.section {
  margin: 60px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.movies-container {
  max-width: 1200px;
  margin: 0;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-content: center;
}

.info {
  &__title {
    font-family: 'Roboto', sans-serif;
  }
  &__genre {
    font-family: 'Roboto', sans-serif;
    color: $color-genres;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  &__poster {
    &--img {
      width: 274px;
      height: 398px;
      border-radius: 5px;
    }
  }
}

.pagination {
  &__button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  &__svg {
    width: 16px;
    height: 16px;
  }
  &__page {
    display: flex;
    flex-direction: row;
    & li {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.currentPage {
  background-color: $color-genres;
  border-radius: 5px;
}
#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-bg {
  background-color: $color-footer;
}
@media screen and (max-width: 480px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .info {
    &__genre {
      line-height: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
